Source: dakota-drivers
Section: libs
Priority: optional
Maintainer: Tong Zhang <zhangt@frib.msu.edu>
Build-Depends: debhelper (>=9), cmake, libboost-dev (>= 1.55),
               libboost-all-dev (>=1.55), libflame (>= 1.0), flame-dev (>=1.0)
Standards-Version: 3.9.7
Homepage: https://stash.frib.msu.edu/projects/PHYAPP/repos/dakota-drivers/
Vcs-Browser: https://stash.frib.msu.edu/projects/PHYAPP/repos/dakota-drivers/browse

Package: dakota-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dakota analysis drivers -- executables
 Analysis drivers built for general multi-dimensional optimization,
 utilizing FLAME as main physics engine, could be working with another
 package -- python-genopt.
